.dialog {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    align-items: flex-start;
    justify-content: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 1000000;

    &> .dialog-window {
        display: table;
        height: 100px;
        margin-top: 100px;
        background-color: white;
        border: solid 2px darken(white, 20%);
        border-radius: 4px;
                
        :focus {
            box-shadow: #3b92ff 0 0px 6px 3px
        }

        &> .dialog-title {
            color: black;
            font-size: 1.5em;
            padding: 10px 20px 10px;
            font-weight: bold;
            overflow: hidden;
            border-bottom: solid 2px darken(white, 20%);

            &.hidden {
                display: none;
            }
        }

        &> .dialog-body {
            display: block;
            padding: 20px;
            min-width: 20vw;
            max-width: 50vw;
            min-height: 10vh;
            max-height: 50vh;
            overflow-y: auto;
            overflow-x: hidden;

            &> .dialog-text {
                display: block;
                color: black;
                padding-bottom: 20px;
                word-wrap: break-word;
                resize: none;
    
                &.hidden {
                    display: none;
                }
            }

            &> .dialog-input {
                width: 100%;
                padding: 5px;
                background-color: white;
                border: solid 1px black;
                color: black;
            }
        }

        &> .dialog-footer {
            display: flex;
            height: 50px;
            margin-top: 20px;
            padding: 10px 30px 10px;
            justify-content: flex-end;
            border-top: solid 2px darken(white, 20%);
        
            &> button {
                margin-left: 10px;
                padding: 5px;
                color: black;
                background-color: white;
                border: solid 1px black;
                border-radius: 2px;
                cursor: pointer;
                -webkit-appearance: none;

                &.hidden {
                    display: none;
                }
            
                &:hover {
                    color: white;
                    background-color: black;
                }
            }
        }

        &> .dialog-close {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            color: black;
            background-color: white;
            border: none;
            cursor: pointer;
            -webkit-appearance: none;

            &:after {
                line-height: 1em;
                content: "\2716";
            }
            
            &:hover {
                color: white;
                background-color: black;
            }
        }
    }
}