<div class="viewpane">
    <nav id="editor-menu" class="header">
        <ul>
            <li>
                <button class="button hamburger-hide">FILE</button>
                <ul>
                    <li>
                        <button class="button" id="editor-menu-file-savelogic">SAVE LOGIC</button>
                    </li>
                    <li>
                        <div class="splitter"></div>
                    </li>
                    <li>
                        <button class="button" id="editor-menu-file-loadpatch">LOAD PATCH</button>
                    </li>
                    <li>
                        <button class="button" id="editor-menu-file-savepatch">SAVE PATCH</button>
                    </li>
                    <li>
                        <div class="splitter"></div>
                    </li>
                    <li>
                        <button class="button" id="editor-menu-file-removepatch">REMOVE PATCH</button>
                    </li>
                    <li>
                        <div class="splitter"></div>
                    </li>
                    <li>
                        <button class="button" id="editor-menu-file-exit">EXIT EDITOR</button>
                    </li>
                </ul>
            </li>
        </ul>
        <button id="editor-hamburger-button">
            <div></div>
            <div></div>
            <div></div>
        </button>
    </nav>
    <div id="editor-content" class="content">
        <div id="logic-board">
            <deep-captionpanel caption="logics" id="logics"></deep-captionpanel>
            <deep-logiceditor-workingarea id="workingarea" visualize="true"></deep-logiceditor-workingarea>
            <deep-captionpanel caption="clipboard" id="clipboard-panel">
                <deep-logiceditor-clipboard id="clipboard"></deep-logiceditor-clipboard>
            </deep-captionpanel>
            <deep-logiceditor-trashcan id="trashcan"></deep-logiceditor-trashcan>
            <deep-captionpanel caption="elements" id="elements">
            </deep-captionpanel>
        </div>
    </div>
</div>