<div class="viewpane">
    <nav id="layouteditor-menu" class="header">
        <ul>
            <li>
                <button class="button hamburger-hide">FILE</button>
                <ul>
                    <li>
                        <button class="button" id="layouteditor-menu-file-loadpatch">NEW...</button>
                    </li>
                    <li>
                        <div class="splitter"></div>
                    </li>
                    <li>
                        <button class="button" id="layouteditor-menu-file-loadpatch">LOAD...</button>
                    </li>
                    <li>
                        <button class="button" id="layouteditor-menu-file-savepatch">SAVE...</button>
                    </li>
                    <li>
                        <button class="button" id="layouteditor-menu-file-removepatch">REMOVE...</button>
                    </li>
                    <li>
                        <div class="splitter"></div>
                    </li>
                    <li>
                        <button class="button" id="layouteditor-menu-file-loadpatch">IMPORT...</button>
                    </li>
                    <li>
                        <button class="button" id="layouteditor-menu-file-savelogic">EXPORT...</button>
                    </li>
                    <li>
                        <div class="splitter"></div>
                    </li>
                    <li>
                        <button class="button" id="layouteditor-menu-file-exit">EXIT EDITOR</button>
                    </li>
                </ul>
            </li>
        </ul>
        <button id="layouteditor-hamburger-button">
            <div></div>
            <div></div>
            <div></div>
        </button>
    </nav>
    <div id="layouteditor-content" class="content">
        <div id="layouteditor-viewpane"></div>
        <div id="layouteditor-settings"></div>
        <div id="layouteditor-panels"></div>
    </div>
</div>