<div class="viewpane">
    <nav id="menu" class="header">
        <ul>
            <li>
                <button class="button" id="file">FILE</button>
                <ul>
                    <li>
                        <button class="button" id="new-savestate">NEW</button>
                    </li>
                    <li>
                        <button class="button" id="load-savestate">LOAD</button>
                    </li>
                    <li>
                        <button class="button" id="save-savestate">SAVE</button>
                    </li>
                    <li>
                        <button class="button" id="saveas-savestate">SAVE AS</button>
                    </li>
                    <li>
                        <button class="button" id="manage-savestates">MANAGE</button>
                    </li>
                </ul>
            </li>
            <li>
                <button class="button" id="join-discord">DISCORD</button>
            </li>
            <li>
                <button class="button" id="edit-settings">SETTINGS</button>
            </li>
        </ul>
        <button id="hamburger-button">
            <div></div>
            <div></div>
            <div></div>
        </button>
        <deep-choiceselect id="view-choice-top">
            <deep-option title="Item & Map Tracker" value="tracker" style="background-image: url('images/tracker.svg')"></deep-option>
            <deep-option title="Shops" value="shops" style="background-image: url('images/shops.svg')"></deep-option>
            <deep-option title="Songs" value="songs" style="background-image: url('images/songs.svg')"></deep-option>
            <deep-option title="Notes" value="notes" style="background-image: url('images/notes.svg')"></deep-option>
            <deep-option title="Multiplayer" value="multi" style="background-image: url('images/multi.svg')"></deep-option>
            <deep-option title="Logger" value="log" style="background-image: url('images/log.svg')" id="tab_log_top"></deep-option>
        </deep-choiceselect>
    </nav>
    <div id="main-content" class="content">
        <div id="view-tracker" class="view-container">
            <ootrt-layoutcontainer id="layout-container" layout="map-compact">
            </ootrt-layoutcontainer>
        </div>
        <div id="view-shops" class="view-container">
            <ootrt-shoplist>
            </ootrt-shoplist>
        </div>
        <div id="view-songs" class="view-container">
            <ootrt-songlist>
            </ootrt-songlist>
        </div>
        <div id="view-notes" class="view-container text-container">
            <div class="flex-wrapper">
                <div class="view-container-title">Notes</div>
                <textarea class="view-container-fulltext" id="tracker-notes"></textarea>
            </div>
        </div>
        <div id="view-multi" class="view-container text-container">
            <div class="flex-wrapper">
                <ootrt-multiplayer>
                </ootrt-multiplayer>
            </div>
        </div>
        <div id="view-log" class="view-container text-container">
            <div class="flex-wrapper">
                <div class="view-container-title">LOG</div>
                <div class="view-container-fulltext" id="tracker-log"></div>
            </div>
        </div>
    </div>
    <deep-choiceselect id="view-choice-bottom">
        <deep-option title="Item & Map Tracker" value="tracker" style="background-image: url('images/tracker.svg')"></deep-option>
        <deep-option title="Shops" value="shops" style="background-image: url('images/shops.svg')"></deep-option>
        <deep-option title="Songs" value="songs" style="background-image: url('images/songs.svg')"></deep-option>
        <deep-option title="Notes" value="notes" style="background-image: url('images/notes.svg')"></deep-option>
        <deep-option title="Multiplayer" value="multi" style="background-image: url('images/multi.svg')"></deep-option>
        <deep-option title="Logger" value="log" style="background-image: url('images/log.svg')" id="tab_log_bottom"></deep-option>
    </deep-choiceselect>
    <footer class="footer">
        <ootrt-locationstate>
        </ootrt-locationstate>
    </footer>
</div>