<deep-paging id="view-pager" active="main">
    <deep-import slot="main" html="/content/pages/main.html" module="/script/main.js"></deep-import>
    <deep-import slot="logiceditor" html="/content/pages/editor.html" module="/script/editor.js"></deep-import>
    <deep-import slot="layouteditor" html="/content/pages/layouteditor.html" module="/script/layouteditor.js"></deep-import>
</deep-paging>

<div id="busy-animation">
    <div></div>
    <div></div>
    <div></div>
</div>