@import "variables";

@import "theme.css";
@import "tracker/navigation.css";
@import "tracker/fonts.css";
@import "inputs.css";
@import "utils/dialog.css";
@import "utils/settings.css";
@import "layouteditor.css";

@keyframes rotate {
    0% { transform: scale(4) rotate(0deg) }
    50% { transform: scale(2) rotate(360deg) }
    100% { transform: scale(4) rotate(720deg) }
}

#busy-animation {
    animation: rotate 4s linear infinite;

    * {
        position: absolute;
        width: 32px;
        height: 32px;
        background-image: url(/images/triforce_piece.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    :nth-child(1) {
        transform: translate(-16px, -39px);
    }

    :nth-child(2) {
        transform: translate(-31px, -13px);
    }

    :nth-child(3) {
        transform: translate(-1px, -13px);
    }

}

.viewpane {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: var(--page-background-color, #000000);
    color: var(--page-text-color, #ffffff);

    * {
        user-select: none;
    }

    .content {
        display: flex;
        
        flex: 1;
        overflow-y: auto;
        overflow-x: auto;

        &> * {
            flex: 1;
        }

        .view-container {
            display: block;

            &:not(.active) {
                display: none;
            }
            
            &.text-container {
                max-width: 100vw;

                .view-container-title {
                    margin: 5px;
                    font-size: 2em;
                }

                .view-container-fulltext {
                    flex: 1;
                    padding: 5px;
                    resize: none;
                    overflow: scroll;
                    background-color: var(--edit-background-color, #ffffff);
                    color: var(--edit-text-color, #000000);

                    &#tracker-notes {
                        word-wrap: unset;
                        white-space: pre;
                        user-select: text;
                    }

                    span {
                        display: block;
                        padding: 2px;
                        margin: 2px;
                        white-space: pre;
                    }
                }
            }
            
            .flex-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: 10px;
            }
        }
    }
}

#layout-container {
    min-width: 100%;
    min-height: 100%;
}

#item-grid,
#dungeon-status,
#location-map,
#location-list {
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: var(--page-border-color, #ffffff);
    overflow: hidden;

    &> * {
        flex: 1;
        padding: 5px;
    }

    ootrt-dungeonstate {
        justify-self: flex-start;
        align-self: flex-start;
    }
}

deep-choiceselect {
    padding: 4px;
    background-color: var(--navigation-background-color, #ffffff);

    &#view-choice-bottom {

        @media (max-width: $mobile-switch) {
            display: none;
        }
    }

    deep-option {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-origin: content-box;
        border-radius: 20%;
        border: solid 2px var(--navigation-text-color, #000000);
        padding: 4px;
        margin: 0 2px;
        filter: drop-shadow(black 1px 1px 1px);

        deep-icon {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }

}

#tracker-log {
    font-family: monospace;

    &>* {
        user-select: text;
    }
}

#logic-board {
    display: grid;
    flex: 1;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #111;
    
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 150px;
    grid-template-areas: 
    "logics workingarea clipboard elements"
    "logics workingarea trashcan elements";
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    #logics {
        position: relative;
        grid-area: logics;
        border: solid 2px #222;
        border-color: #777;
    }
    #workingarea {
        grid-area: workingarea;
        background-color: #222;
    }
    #clipboard-panel {
        grid-area: clipboard;
        background-color: #222;

        #clipboard {
            display: contents;
        }
    }
    #trashcan {
        grid-area: trashcan;
    }
    #elements {
        grid-area: elements;
    }
    .logic-location {
        border: solid 1px #fff;
        background-color: #000;
        color: #fff;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
    }
}

#trashcan {
    background-image: url('/images/trash.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}