#layouteditor-content {
    display: grid;
    flex: 1;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #111;
    
    grid-template-columns: 2fr 500px;
    grid-template-rows: 1fr 300px;
    grid-template-areas: 
    "viewpane settings"
    "panels panels";
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    #layouteditor-viewpane {
        grid-area: viewpane;
        border: solid 2px #222;
        border-color: #777;
    }

    #layouteditor-settings {
        grid-area: settings;
        border: solid 2px #222;
        border-color: #777;
    }

    #layouteditor-panels {
        grid-area: panels;
        border: solid 2px #222;
        border-color: #777;
    }
}